a{
  text-decoration: none;                   
}
button{
  outline: none;
  cursor: pointer;
}
h1,h2,h3,h4,h5,p{
font-weight: 300;
}
h1{
font-size: 46px;
}
h2{
font-size: 36px;
}
p{
font-size: 14px;
}