$primary_color : #A174DB;
$secondary_color : #49BE55;
// @import "node_modules/bootstrap/scss/bootstrap";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
  overflow-x: hidden;
}