@import "./primaries";
body{
  &>img{
    position: absolute;
    left: 47px;
    right: 46.7px;
    top: -0.3px;
    z-index: -3333;
  }
}
@import "./fonts";
header{
  width: 100%;
  height: 390px;
  padding-top: 40px;
  @import "./navigation";
  #header_content-background{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 390px;
    z-index: -1;
    .header_content{
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      height:350px;
      transform: translateY(40px);
      p{
        margin-top: 39px;
      }
    }
  }
}
@import "./buttons";