<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GO tech</title>
  <link rel="stylesheet" href="../sass/style.css">
  <link rel="icon" href="../img/Group 1587@2x.png">
  <style>
     @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
  </style>
</head>
<body>
  <header>
    <nav>
      <img src="../img/GOtech--logo.png" alt="GOtech LOGO">
      <ul id="navigation_bar">
        <li><a class="hover-underline--animation" href="#">Home</a></li>
        <li><a class="hover-underline--animation" href="#">About</a></li>
        <li><a class="hover-underline--animation" href="#">Portfolio</a></li>
        <li><a class="hover-underline--animation" href="#">Product</a></li>
        <li><a class="hover-underline--animation" href="#">Career</a></li>
        <li><a class="hover-underline--animation" href="#">blog</a></li>
        <li id="search-here"><input class="search-here" type="search" placeholder="Search Here"></li>
        <li><button class="primary_button">Contact us</button></li>
      </ul>
    </nav>
  </header>
</body>
</html>

